Source: node-ripemd160
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Bastien Roucariès <rouca@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-hash-base <!nocheck>
 , node-hash-test-vectors <!nocheck>
 , node-inherits <!nocheck>
 , node-tap <!nocheck>
 , node-tape <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-ripemd160
Vcs-Git: https://salsa.debian.org/js-team/node-ripemd160.git
Homepage: https://github.com/crypto-browserify/ripemd160
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-ripemd160
Architecture: all
Depends: ${misc:Depends}
 , node-hash-base
 , node-inherits
Description: Pure javascript implementation of ripemd160 hash function
 RIPEMD (RACE Integrity Primitives Evaluation Message Digest) is a family
 of cryptographic hash functions developed in Leuven, Belgium,
 by Hans Dobbertin, Antoon Bosselaers and Bart Preneel
 at the COSIC research group at the Katholieke Universiteit Leuven,
 and first published in 1996.
 .
 RIPEMD was based upon the design principles used in MD4,
 and is similar in performance to the more popular SHA-1.
 .
 RIPEMD-160 is an improved, 160-bit version of the original RIPEMD,
 and the most common version in the family.
 RIPEMD-160 was designed in the open academic community,
 in contrast to the NSA-designed SHA-1 and SHA-2 algorithms.
 .
 Node.js is an event-based server-side JavaScript engine.
